{% trans_default_domain("drom.admin") %}

{# @var item \BaksDev\Drom\Repository\AllDromToken\DromTokensResult #}

<tr class="vertical-middle">

    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
    </td>

    <td class="text-center w-30">

        <div class="d-flex w-30 gap-3">

            <div>
                <span
                        class="icon rounded-circle bg-cover lazy p-1"
                        data-bg="{{ cdn_image_path(item.usersProfileAvatar, item.usersProfileAvatarExt, item.usersProfileAvatarCdn) }}"
                > </span>
            </div>

            <div class="ms-0 text-start">

                <a href="{{ path('drom:admin.newedit.edit', {id: item.event }) }}"
                   class="fw-bolder text-decoration-none text-dark modal-link disabled"
                   data-bs-toggle="modal"
                   data-bs-target="#modal"
                >
                    {{ item.usersProfileUsername }}
                </a>

                <div class="text-muted fs-7 fw-bolder d-flex gap-3">

                    <span class="me-1 text-muted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13"
                             fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16"
                        >
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                        </svg>

                        {{ item.accountEmail }}
                    </span>
                </div>

            </div>
        </div>
    </td>

    <td class="text-center">
        {% if item.active %}
            <div class="badge bg-success">
                Активный
            </div>
        {% else %}
            <div class="badge bg-danger">
                Заблокирован
            </div>
        {% endif %}
    </td>

    <td class="text-center">
        {{ user_profile_status(item.usersProfileStatus) }}
    </td>

    {% if is_granted('ROLE_ADMIN') %}
        <td class="text-center">
            <a href='{{ path(app.current_route, {'authority' :  item.usersProfileUid  }) }}'
               class="badge text-bg-light text-decoration-none"
            >
                Авторизоваться
            </a>
        </td>
    {% endif %}
</tr>