{% trans_default_domain 'drom.admin' %}

<div class="modal-dialog modal-dialog-centered" style="max-width: 800px;">
    {{ form_start(form) }}
    <div class="modal-content p-3 border-bottom border-5 border-danger">
        <div class="modal-header">

            <h5 class="modal-title">
                {# Заголовок модального окна #}
                {{ 'breadcrumb.delete'|trans }}
            </h5>

            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                <span class="svg-icon svg-icon-2x"></span>
            </div>
        </div>

        <div class="modal-body">
            <h4>
                {# Вы уверены, что желаете удалить #}
                {{ 'form.delete.h4'|trans }}
            </h4>
            <br>
            <p>
                {# Убедитесь, что выбран именно тот объект, который нужно удалить, и нажмите Удалить. Если вы не
                    желаете удалять выбранный объект, нажмите кнопку Отмена.  #}
                {{ 'txt.default.delete'|trans({}, 'core.modal') }}
            </p>
        </div>

        <div class="modal-footer">

            <div class="flex-grow-1">
                &nbsp;
            </div>

            <div class="d-flex gap-3">
                {# Отмена #}

                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    {{ 'btn.cancel'|trans({}, 'core.btn') }}
                </button>


                {# Удалить #}
                {{ form_widget(form.drom_token_delete, { label: '
				<span>'~ 'btn.delete'|trans({}, 'core.btn') ~'</span>
				<span class="spinner-border spinner-border-sm vertical-middle d-none"></span>
			'}) }}
            </div>

        </div>
    </div>
    {{ form_end(form) }}
</div>
